/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  button {
    cursor: pointer;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }